In [1]:
# -------------- #

import pandas as pd
import os
from datetime import date, timedelta
import math
import load_data
from tqdm import tqdm
import numpy as np 

import seaborn as sns
import matplotlib.pyplot as plt
color = sns.color_palette()

import subprocess
from subprocess import check_output
import gc

from config import (
    RAW_DATA_DIR,
    LAG_DICT,
    SLIDING_DICT
)

%matplotlib inline

In [3]:
test_start = date(2017, 8, 16)
test_end = date(2017,8, 31)

In [7]:
date(2017,7,26)-timedelta(168)

datetime.date(2017, 2, 8)

In [4]:
holidays_events_df = pd.read_csv(RAW_DATA_DIR+'holidays_events.csv')
items_df = pd.read_csv(RAW_DATA_DIR+'items.csv')
oil_df = pd.read_csv(RAW_DATA_DIR+'oil.csv',parse_dates=['date'])
stores_df = pd.read_csv(RAW_DATA_DIR+'stores.csv')
transactions_df = pd.read_csv(RAW_DATA_DIR+'transactions.csv')

df = pd.read_csv(
    'datasets/train.csv', usecols=[1, 2, 3, 4, 5],
    parse_dates=["date"]
)

test_df = pd.read_csv(
    'datasets/test.csv', usecols=[1, 2, 3, 4],
    dtype={'onpromotion': bool},
    parse_dates=["date"]
)

/Users/liuyu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
from datetime import date, timedelta

test_start = date(2017, 8, 16)
test_end = date(2017,8, 31)

holidays_events_df['date'] = pd.to_datetime(holidays_events_df['date'])
holidays_events_df[holidays_events_df['date'].between(test_start, test_end)]

/Users/liuyu/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:4072: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  lmask = self >= left
/Users/liuyu/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:4073: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  rmask = self <= right

          date     type locale locale_name          description  transferred
327 2017-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False

In [6]:
holidays_events_df[holidays_events_df['description'] == 'Fundacion de Ambato']

          date     type locale locale_name          description  transferred
16  2012-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False
69  2013-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False
132 2014-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False
187 2015-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False
271 2016-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False
327 2017-08-24  Holiday  Local      Ambato  Fundacion de Ambato        False

In [8]:
df.head()

        date  store_nbr  item_nbr  unit_sales onpromotion
0 2013-01-01         25    103665         7.0         NaN
1 2013-01-01         25    105574         1.0         NaN
2 2013-01-01         25    105575         2.0         NaN
3 2013-01-01         25    108079         1.0         NaN
4 2013-01-01         25    108701         1.0         NaN

In [ ]:
transactions_df.head()